#header {
width: 1005px;
border:5px;
border-style:dotted;
border-color:blue;
color: orange;
text-align: center;
margin-bottom: 10px;
}


.columns {
	float: left;
	background-color: purple;
	color: white;
	width: 335px;
	height: 320px;
	border-color:green;
	border-style:solid;
	padding: 5px;
	box-sizing: border box;
}
