nav {
	width: 180px;
	background-color: lavender;
	border-radius: 50px;
	font-size: 20px;
	font-family:impact;
	}

nav ul {
	list-style: none;
}

nav ul li a {
	text-decoration: none;
	color: black;
	}

nav ul li {
	display: inline-block;
	}

h1 {
	text-align: center;
	font-size: 75px;
	font-family: Courier;
}

body {
	width: 100%;
	background-color:green;
	margin: 0 auto;
}

.projectlist li {
	font-size: 40px;
	list-style: none;
	color: purple;
	font-family: arial;
	text-decoration: none;
}

a {
	text-decoration: none;
}

a:hover {
	color: white;
	}


